*{
    margin: 0px;
    padding: 0px;
}
.main{
    background-color: grey;
    width: 80%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.btn{
    padding: 5px;
    background-color: gray;
    cursor: pointer;
}
.ans{
    overflow: hidden;
    display: none;
}
.ans .active{
    display: block;
}